/**************/
/* CSS RESET */
/*************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*******************/
/* GENERAL STYLING */
/*******************/

body {
    /* background gradient -> */
    background-color: ghostwhite;
    background: #000046; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #1cb5e0,
        #000046
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #1cb5e0,
        #000046
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* <- */
    font-family: sans-serif;
    text-align: center;
    padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 10px;
    background-color: #010149;
    border: 3px solid #010149;
    color: #1eceff;
}

h2 {
    margin-bottom: 1rem;
}

p {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

button {
    padding: 0.5rem 1rem;
}

/*******************/
/* UTILITY CLASSES */
/*******************/

.flex {
    display: flex;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.transparent {
    color: transparent;
}

.welcome-links {
    color: #24ca85;
    text-decoration: underline;
}

/*******************/
/* MAIN COMPONENTS */
/*******************/

.welcome-logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #1eceff;
    font-family: "Dancing Script", cursive;
}

.banner-top {
    min-height: 250px;
}

/*********************************************/
/* FORM STYLEING FOR REGISTRATION, LOGIN ETC */
/*********************************************/

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 0.35rem;
}

.input-container {
    margin-bottom: 1rem;
}

.input-container div {
    margin-bottom: 0.5rem;
}

.error-message {
    color: red;
}

/*******************************/
/* PROFILE IMAGE AND UPLOADER  */
/*******************************/

.profile-img {
    width: 100px;
    margin-top: 2.5rem;
}

.uploader {
    background: #000046; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #1cb5e0,
        #000046
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #1cb5e0,
        #000046
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* <- */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
}

.uploader span {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 3rem;
}

.uploader div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-flex {
    display: flex;
    flex-direction: row;
}

.profile-flex div {
    text-align: left;
}

.margin-left-3 {
    margin-left: 3rem;
}

.profile-img-big {
    width: 200px;
    border: 1px dashed black;
}

textarea {
    width: 100%;
    height: 7.5rem;
}

ul {
    list-style: none;
}

.navbar {
    align-items: flex-start;
}

.navbar a {
    transition: 0.5s;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    border-radius: 10px;
    background-color: #010149;
    border: 3px solid #010149;
    color: #1eceff;
    margin: 0 1rem;
}

.navbar a:hover {
    transition: 0.5s;
    background-color: #0f9fc7;
    border: 3px solid #010149;
    color: #010149;
}

button {
    transition: 0.5s;
    border-radius: 10px;
    background-color: #24ca85;
    border: 3px solid #24ca85;
    outline: none;
    color: #010149;
}

button:hover {
    transition: 0.5s;
    background-color: #10955e;
    cursor: pointer;
}

.red-button {
    background-color: #77060c;
    border: 3px solid #83060d;
    outline: none;
    color: #1eceff;
}

.red-button:hover {
    background-color: #c50c15;
}

.yellow-button {
    background-color: #f3f2a0;
    border: 3px solid #f3f2a0;
    outline: none;
    color: #010149;
}

.yellow-button:hover {
    background-color: #f6fa04;
}

.p-style-1 {
    background-color: #1eceff;
    padding: 0.25rem 0.35rem;
    border-radius: 5px;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}

a {
    text-decoration: none;
    color: black;
}

/***************************/
/* TRAIN COMPONENT STYLING */
/***************************/

.memo-card-outer-container {
    width: 100vw;
    height: 200px;
}

.memo-card-container {
    position: relative;
    width: 300px;
    margin: 0 auto;
    height: 200px;
    /* Depth: */
    perspective: 750px;
}

.memo-card {
    width: 100%;
    height: 100%;
    background-color: #77060c;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    /* New for the flip-card effect-> */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
    /* <- */
}

.memo-card h2 {
    margin: 1rem;
    background-color: transparent;
    /* background-color: #10955e; */
    color: black;
    color: #010149;
    /* color: maroon; */
    font-size: 1.8rem;
    border: none;
    /* font-family: "Dancing Script", cursive; */
    /* font-size: 2rem; */
}

/* NEW for the flip-card effect -> */
.memo-card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.memo-card-inner.is-flipped {
    transform: rotateY(180deg);
    transform: rotateX(180deg);
}
/* <- */

.memo-question {
    background-color: #dcde5b;
    background-color: #e29397;
    background-color: #e5e782;
}

.memo-answer {
    background-color: #10955e;
    background-color: #e29397;
    background-color: #41be8a;
    /* NEW for the flip-card effect -> */
    transform: rotateY(180deg);
    transform: rotateX(180deg);
    /* <- */
}

.show {
    z-index: 5;
}

.card-width {
    width: 300px;
}

.memo-level-display {
    position: absolute;
    top: 235px;
    left: 37px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.memo-level-display button {
    width: 106px;
    background-color: #010149;
    color: #1eceff;
    border: 3px solid #010149;
    margin-bottom: 0.5rem;
}

.memo-level-display button:hover {
    background-color: #1eceff;
    background-color: #0f9fc7;
    color: #010149;
}

.memo-level-display .active-memo-level {
    transition: 0.5s;
    background-color: #3a3ad4;
    background-color: #0f9fc7;
    background-color: #1eceff;
    border: 3px solid #010149;
    color: #1eceff;
    color: #010149;
}

.memo-level-display .active-memo-level:hover {
    background-color: #1eceff;
}

.memo-level-display span {
    display: inline-block;
    padding-left: 0.3rem;
}

.current-memo-level-display {
    position: relative;
    top: -15px;
    display: inline-block;
    background-color: #1eceff;
    padding: 0.25rem 0.35rem;
    border-radius: 5px;
    font-size: 1.3rem;
}

/***********************/
/* ADD CONTENT STYLING */
/***********************/

.content-add-form {
    width: 500px;
    margin: auto;
    max-width: 100%;
}

.content-add-form textarea {
    height: 150px;
    margin-bottom: 1rem;
    font-size: 2rem;
    padding: 0.5rem 0.7rem;
    border: 3px solid #77060c;
    border-radius: 5px;
    outline: none;
}

.content-add-form textarea:focus {
    border-color: #c50c15;
}

textarea::placeholder {
    text-align: center;
    padding-top: 2.7rem;
    font-family: "Dancing Script", cursive;
    font-size: 2.6rem;
    font-weight: bold;
    color: #10955e;
    color: #83060d;
}

/******************************/
/* LIST CONTENT TABLE STYLING */
/******************************/

.flex-center table {
    background-color: hsl(193, 100%, 76%);
    color: #010149;
    margin-top: 2rem;
    border: 2px solid #010149;
    border-collapse: collapse; /* to bring all table borders together */
    width: 600px;
}

td,
th {
    padding: 1rem;
    border: 2px solid #010149;
}

th {
    background-color: #1eceff;
    font-size: 1.76rem;
}

td {
    font-size: 1rem;
}
